  
<!-- #Code originally in file "show.html.erb MARL 03/05/2014 -->
  <%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
      <%= h(comment.body) %>
    </p>
  <% end %>
