<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<!-- #Added to show the comments associated to one post MARL 23/04/2014 -->
<h2>Comments</h2>
<div id="comments">
  <!-- #Code eliminated. We are going to render a partial template file
  <% @post.comments.each do |comment| %>
  #Code copied to partial template file "_comment,html.erb" MARL 03/05/2014
  <%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
      <%= h(comment.body) %>
    </p>
    <% end %> #copied 
  <% end %> #eliminated -->

  <!-- #Added to show the comments using the partial template MARL 03/05/2014 -->
  <%= render :partial => @post.comments.reverse %>

</div>

<!-- #Added to create a new comment from the post page MARL 23/04/2014 -->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p><%= f.label :body, "New Comment" %><br/>
     <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
